In [66]:
import pandas as pd

In [67]:
sp = pd.read_csv('sp.csv')
sp.drop('Latitude', axis=1, inplace=True)
sp.drop('Longitude', axis=1, inplace=True)

madrid = pd.read_csv('madrid.csv')
madrid.drop('Link', axis=1, inplace=True)
madrid.drop('Summary', axis=1, inplace=True)

dhaka = pd.read_csv('dhaka.csv', index_col=[0])

In [68]:
madrid

,Address,Price,Rooms,Squared_meters,Floor,Distric,Type,Pool,Furniture,Exterior,Elevator
0,"calle Aguarón, Valdemarín, Madrid",900.0,NaN,55,2,Chamartin,Studio,False,False,True,True
1,"calle de Luisa Fernanda, Argüelles, Madrid",700.0,NaN,50,4,Chamartin,Studio,False,False,False,True
2,"calle de Irún, Argüelles, Madrid",900.0,NaN,73,2,Chamartin,Studio,False,False,True,True
3,"avenida del Doctor Federico Rubio y Galí, 88, ...",850.0,NaN,41,0,Chamartin,Studio,False,True,True,True
4,"Valdemarín, Madrid",795.0,NaN,42,1,Chamartin,Studio,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
512,"calle de San Restituto, 53, Valdezarza, Madrid",900.0,1.0,50,3,Moncloa,Flat,False,True,True,True
513,"calle Arriaza, 12, Argüelles, Madrid",900.0,1.0,50,3,Moncloa,Flat,False,False,False,True
514,"Aravaca, Madrid",990.0,2.0,80,0,Moncloa,Flat,False,False,True,True
515,"Aravaca, Madrid",995.0,2.0,75,0,Moncloa,Flat,False,False,True,True
516,"Valdezarza, Madrid",750.0,1.0,50,6,Moncloa,Flat,False,False,True,True

In [69]:
sp.drop(sp[sp['Negotiation Type'] == 'sale'].index.to_list(), axis=0, inplace=True)
sp

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11205,3700,595,73,1,2,1,1,0,0,1,0,Brooklin/São Paulo,rent,apartment
11206,21000,3000,208,4,4,3,3,1,1,1,0,Brooklin/São Paulo,rent,apartment
11207,3800,710,55,1,1,0,1,0,1,1,0,Brooklin/São Paulo,rent,apartment
11208,5000,2354,205,3,2,1,2,1,0,0,0,Brooklin/São Paulo,rent,apartment
11209,15600,2300,162,3,4,3,3,0,0,1,0,Brooklin/São Paulo,rent,apartment